language: cpp

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

env:
  matrix:
    - BUILDSYS=cmake
    - BUILDSYS=autotools

matrix:
  fast_finish: true

# TODO: Debug & Release modes

install:
  - |
    if [ ${TRAVIS_OS_NAME} == 'linux' ]; then
      sudo apt-get --no-install-recommends install texinfo texi2html texlive-base texlive-generic-recommended doxygen graphviz texlive-latex-base python-git
    fi

script:
  - |
    if [ $TRAVIS_OS_NAME == 'osx' and $CC_FOR_BUILD == 'gcc' ]; then
        export CXX=g++-6
    fi
    if [ $BUILDSYS == "autotools" ]; then
      aclocal
      if [ $TRAVIS_OS_NAME == 'osx' ]; then glibtoolize; fi
      if [ $TRAVIS_OS_NAME == 'linux' ]; then libtoolize; fi
      autoheader
      automake --add-missing
      autoreconf
      ./configure
      srcdir='.'
    elif [ $BUILDSYS == "cmake" ]; then
      srcdir='..'
      mkdir build
      cd build
      cmake -DCMAKE_CXX_COMPILER=${CXX} -DBUILD_DOC=ON -DBUILD_TESTING=ON ..
    fi

  - make lib
  - make check-testsuite     # Build and check the testsuite
  - make check-examples      # Build and check the examples
    # TODO! (fails with error: no such file or directory: 'arrdaxpyf.o')
    # - make check-benchmarks    # Build and check the benchmarks (takes a long time)
  - |
    if [ $BUILDSYS == "autotools" ]; then
      make info # Build Blitz++ texinfo documentation
      # TODO: fails with /usr/bin/texi2dvi: texinfo.tex appears to be broken.
      #- make ps                  # Build Blitz++ ps documentation
      # - make pdf                 # Build Blitz++ pdf documentation
      make html                # Build Blitz++ html documentation
      sudo make install-info   # Install Blitz++ texinfo documentation
      #- sudo make install-ps     # Install Blitz++ ps documentation
      #- sudo make install-pdf    # Install Blitz++ pdf documentation
      sudo make install-html   # Install Blitz++ html documentation
    elif [ $BUILDSYS == "cmake" ]; then
      make blitz-doc
    fi

  - sudo make install        # Install Blitz++

  - |
    if [ "${TRAVIS_OS_NAME}" == 'linux' ]; then
       LD_LIBRARY_PATH=/usr/local/lib ${srcdir}/travis-ci/check-wiki-examples.py
    fi
